:root {
    --accent: rgba(255, 127, 127, 1);
    --main: rgb(47, 47, 47);
    --mainLight: rgb(87,87,87);
    --mainDark: rgb(27,27,27);
    --black: rgb(0, 0, 0);
    --blackGrey: rgb(15, 15, 15);
    --white: rgb(255,255,255);
    --whiteGrey: rgb(240, 240, 240);
    --clear: rgba(0, 0, 0, 0);
    --globalRadius: 10px;
    --colorDependentBorder: solid;
    --animations: all;
}

* {
    scrollbar-width: none;
    border-color: #000000;
}

body {
    background-color: var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
input:focus {
    outline: none;
}
hr {
    border: .9px solid ;
}
#notes {
    display:flex;
    border-width: 5px;
    border-style:solid;
    border-color: var(--mainDark);
    border-radius: var(--globalRadius);
    padding: 5px;
    box-shadow:-1px -1px var(--mainDark), -2px -2px var(--mainDark),-3px -3px var(--mainDark);
    background-color: var(--main);
    transition: var(--animations) .3s;
    transition-timing-function: ease-in-out;
    overflow: auto;
    scrollbar-width:thin;
    scrollbar-color: var(--main) var(--main);
}

#notes:hover{
    border-width: 5px;
    border-style:solid;
    border-radius: var(--globalRadius);
    box-shadow:-1px -1px, -2px -2px,-3px -3px;
    scrollbar-color: var(--mainLight) var(--main);
}
button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#notes button {
    flex-flow: row nowrap;
    flex-grow:0;
    flex-shrink: 0;
    margin: 5px;
    border-width: 3px;
    border-style:solid;
    border-radius: var(--globalRadius);
    border-color: var(--mainDark);
    box-shadow:1px 1px var(--mainDark), 2px 2px var(--mainDark),3px 3px var(--mainDark);
    transition: var(--animations) .1s;
    transition-timing-function: ease-in-out;
    padding: 10px;
    background-color: var(--white);
}


#notes button:hover {
    border-width: 3px;
    border-style:solid;
    border-color: var(--mainDark);
    box-shadow:1px 1px var(--mainDark), 2px 2px var(--mainDark),3px 3px var(--mainDark), 4px 4px var(--mainDark), 5px 5px var(--mainDark);
    -webkit-filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px var(--white))
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
            filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px var(--white))
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
    translate:0px -2px;
    
}

#notes button:active {
    translate: 3px 3px;
    box-shadow:0px 0px var(--mainDark);

}

#notes p {
    color: var(--black);
    font-size: 10px;
}

#options {
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content:center;
    flex-wrap:nowrap;
}

#options button{
    margin: 5px;
    border-width: 3px;
    border-style:solid;
    border-radius: var(--globalRadius);
    border-color: var(--mainDark);
    box-shadow:1px 1px var(--mainDark), 2px 2px var(--mainDark),3px 3px var(--mainDark);
    transition: var(--animations) .1s;
    transition-timing-function: ease-in-out;
    padding: 6px;
    background-color: var(--white);
    color:var(--mainDark);
    flex-shrink:0;
}

#options button:hover {
    border-width: 3px;
    border-style:solid;
    box-shadow:1px 1px var(--mainDark), 2px 2px var(--mainDark),3px 3px var(--mainDark), 4px 4px var(--mainDark), 5px 5px var(--mainDark);
    -webkit-filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px var(--white))
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
            filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px var(--white))
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
    translate:0px -2px;;
}

#selectedNote {
    display:flex;
    flex-direction:column;
    row-gap: 10px;
    border: solid var(--mainDark) 5px ;
    background-color: var(--main);
    border-radius: var(--globalRadius);
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow:0px 20px var(--mainDark);
}

#contents {
    border-style: solid;
    border-width: 4px;
    border-radius: var(--globalRadius);
    border-color:var(--mainDark);
    transition: var(--animations) .2s;
    transition-timing-function: ease-in-out;
    scrollbar-width:none;
}
#contents:focus {
    scrollbar-width: thin;
    border-width: 2px;
    scrollbar-color: var(--whiteGrey) var(--clear);
}
#date{
    border-style: solid;
    border-color: var(--clear);
    border-width: 0px;
    background-color: var(--clear);
    color: var(--mainLight);
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

#title {
    border-style: solid;
    border-color: var(--clear);
    border-width: 1px;
    background-color: var(--clear);
    color: var(--accent);
    font-size: 30px;
    font-weight: bold;
    border-radius: var(--globalRadius);
    transition: var(--animations) .2s;
    transition-timing-function: ease-in-out;
}

#title:focus {
    border-color: var(--mainLight);
}

#save {
    margin: 5px;
    border-width: 3px;
    border-style:solid;
    border-radius: var(--globalRadius);
    border-color: var(--mainDark);
    box-shadow:0px 8px var(--mainDark);
    transition: var(--animations) .1s;
    transition-timing-function: ease-in-out;
    padding: 10px;
    background-color: var(--white);
    font-weight: bold;
    font-size: large;
}

#save:hover {
    border-width: 3px;
    border-style:solid;
    box-shadow:0px 10px var(--mainDark);
    -webkit-filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px white)
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
            filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px white)
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
    translate:0px -2px;;
}

#save:active {
    margin: 5px;
    border-width: 3px;
    border-style:solid;
    border-radius: var(--globalRadius);
    box-shadow:0px 0px;
    translate: 0px 8px;
    padding: 10px;
    background-color: var(--accent);
    font-weight: bold;
    font-size: large;
    color: var(--white);
}


textarea{
    font-size: 18px;
    resize:none;
    padding:10px;
    color: var(--black);
    outline: none;
}

#selected {
    border-color: var(--accent) !important;
    border-style: var(--colorDependentBorder) !important;
}



.popup {
    opacity: 100%;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    font-size: small;
    transition: var(--animations) .1s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
}

#PopupContainer {
    padding: 10px;
    background: var(--white);
    border-radius: var(--globalRadius);
    text-align: center;
    width:70%;
    height: auto;
    border-style: double;
    border-color: var(--mainDark);
    border-width: 10px;
    box-shadow:1px 1px var(--mainDark), 2px 2px var(--mainDark),3px 3px var(--mainDark), 4px 4px var(--mainDark), 5px 5px var(--mainDark), 6px 6px var(--mainDark), 7px 7px var(--mainDark), 8px 8px var(--mainDark);
    -webkit-filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px var(--white))
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
            filter:drop-shadow(1px 1px var(--white))drop-shadow(-1px -1px var(--white))
    drop-shadow(-1px 1px var(--white))drop-shadow(2px -1px var(--white));
    overflow: auto;
    scrollbar-width: none;
}
#PopupContainer hr {
    margin-left: 10px;
    margin-right: 10px;
}
#PopupContainer button {
    flex-flow: row nowrap;
    flex-grow:0;
    flex-shrink: 0;
    margin: 5px;
    border-width: 3px;
    border-style:solid;
    border-radius: var(--globalRadius);
    box-shadow:1px 1px, 2px 2px,3px 3px;
    transition: var(--animations) .1s;
    transition-timing-function: ease-in-out;
    padding: 10px;
    background-color: var(--white);
    font-size: small;
    border-color: var(--mainDark);
}

#PopupContainer button:hover {
    border-width: 3px;
    border-style:solid;
    border-radius: var(--globalRadius);
    box-shadow:1px 1px var(--mainDark), 2px 2px var(--mainDark),3px 3px var(--mainDark), 4px 4px var(--mainDark), 5px 5px var(--mainDark);
    translate:-1px -1px;
}

#PopupContainer button:active {
    translate: 3px 3px;
    box-shadow:0px 0px;

}

#bottomOptions{
    display:flex;
    justify-content: center;
    margin: 5px;
}

#bottomOptions button{
    flex-grow:1;
}

#settingsExit {
    font-size:large !important;
}


#infoExit {
    font-size:large !important;
}


.on {
    background-color: rgb(144, 255, 142) !important;
}

.off {
    background-color: rgb(255, 142, 142) !important;
}

#color {
    border-color: var(--accent) !important;
}
